<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Node.js News</title>
  </head>
  <body>
    

    <div class="container-sm">
        <h1>Amazon Anchor Keywords Generator V1.0</h1>        
      
      <form action="/" method="POST">
        <div class="input-container">
          <div class="input-container--row form-group">
            <input
              type="text"
              name="keyword"
              placeholder="#1 Keyword"
              class="keyword form-control"
              required
            />
            <p class="inUrl"></p>

            <button type="button" class="addUrl btn btn-primary">
              Add URL
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <button type="button" class="btn-add btn btn-primary">
              Add New Keyword
            </button>
          </div>
          <div class="col-6"></div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <!-- <% keywords.forEach((keyword)=>{ %>
    <h2><%= keyword.title.rendered %></h2>
    <p>url: <%= keyword.link %></p>
    <ul>
      <% keyword.acf.amazon_product_url.forEach((urlObj)=>{ %>
      <li><%= urlObj.url %> | <%= urlObj.percentage %>%</li>
      <% }) %>
    </ul>
    <% }) %> -->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/formDIY.js"></script>
  </body>
</html>
