<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node.js News</title>
</head>
<body>
    <h1>Hello EJS</h1>

    <% keywords.forEach((keyword)=>{ %>
        <h2><%= keyword.title.rendered %></h2>
        <p>url: <%= keyword.link %></p>
        <ul>
        <% keyword.acf.amazon_product_url.forEach((urlObj)=>{ %>
            <li><%= urlObj.url %> | <%= urlObj.percentage %>%</li>
        <% }) %>
        </ul>
    <% }) %>
</body>
</html>